pdbpp==0.10.3

fastapi==0.95.1
fastapi-pagination==0.12.2

uvicorn==0.22.0
orjson==3.5.0
pytz==2020.1

# Request
requests

# Autenticacion
pyjwt==1.7.1  # https://pyjwt.readthedocs.io/

# DB
psycopg2-binary==2.9.6  # https://github.com/psycopg/psycopg2
sqlalchemy==2.0.12 # https://www.sqlalchemy.org/


# Linter
flake8==3.8.3
black==22.3.0

# compresion
brotli-middleware==0.3

# Excel
XlsxWriter==3.1.0

alembic==1.11.1

python-multipart
celery==4.4.7

tenacity==8.2.3
redis==5.0.1

numpy==1.26.1
pandas==2.1.1
rich==13.6.0
requests==2.31.0
scipy==1.11.3

sadisplay==0.4.9
selenium==4.15.1
